:root {
  --font-size-filter: 0.95rem;
  --font-size-card: 0.775rem;
  --font-color: rgb(206, 0, 0);
  --font-color-subtitle: rgba(95, 93, 93, 0.773);
  --font-color-delete: rgb(239, 5, 5);
  --font-color-update: rgb(5, 180, 2);
}

.top {
  background-color: white;
  position: sticky;
  z-index: 1000;
  top: 0;
  padding-bottom: 10px;
}

.logo {
  width: 4em;
  margin-right: 1.5em;
}

button.clear {
  background-color: rgba(251, 0, 0, 0.152);
}

h2.title-nav {
  font-size: 1.2rem;
  color: var(--font-color);
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 5px;
}

.title {
  font-size: 2.5rem;
  color: var(--font-color-subtitle);
}

.subtitle {
  font-size: 1.1rem;
  color: var(--font-color-subtitle);
}

div.input-group {
  width: fit-content;
}

.input-group label {
  background-color: rgb(208, 1, 1);
  color: white;
}
.input-group label,
.input-group select {
  font-size: var(--font-size-filter);
}

tr th.text-header {
  color: var(--font-color-subtitle);
}

table .table-header {
  background-color: var(--font-color);
}

.card-body p {
  font-size: var(--font-size-filter);
}

#student-row {
  cursor: pointer;
}

#student-row .fields,
#student-row .fields {
  font-size: var(--font-size-filter);
}

#delete-button {
  color: var(--font-color-delete);
  font-size: 1.7em;
  cursor: pointer;
}

#update-button {
  color: var(--font-color-update);
  font-size: 1.7em;
  cursor: pointer;
}

.form-title {
  color: var(--font-color-subtitle);
  margin-bottom: 1em;
}

.form-title .form-subtitles {
  color: var(--font-color-subtitle);
  font-size: var(--font-size-card);
}

.form-title .form-subtitles.added-course {
  color: var(--font-form-title-color);
  font-size: var(--font-size-filter);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(6, 6, 6, 0.797);
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay .alert {
  padding: 7em;
}

/* query for mobile */
@media (max-width: 768px) {
  .overlay {
    align-items: flex-end;
  }
  .overlay .alert {
    padding: 4em;
  }
}
