:root {
  --font-size-filter: 0.875rem;
  --font-size-card: 0.775rem;
  --font-color: rgb(11, 4, 90);
  --font-form-title-color: rgb(29, 9, 247);
  --font-form-subtitle-color: rgb(131, 131, 131);
  --font-family: 'Roboto', sans-serif;
}

a.title-nav {
  font-size: 1.2rem;
  color: var(--font-color);
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 5px;
  font-family: var(--font-family);
}

.title {
  font-size: 2.5rem;
  color: var(--font-color);
}

.subtitle {
  font-size: 1.1rem;
  color: var(--font-color);
  font-family: var(--font-family);
}

div.input-group {
  width: fit-content;
}

.input-group label,
.input-group select {
  font-size: var(--font-size-filter);
}

#table-desktop table {
  border-color: var(--font-color);
}

tr th.text-header {
  color: var(--font-color);
}

table .table-header {
  background-color: rgb(166, 242, 249) !important;
}

.card-body p {
  font-size: var(--font-size-filter);
}

table tr td {
  font-size: var(--font-size-filter);
}

#delete-button,
#update-button {
  font-size: var(--font-size-card);
}

.form-title {
  color: var(--font-form-title-color);
  margin-bottom: 1em;
}

.form-title .form-subtitles {
  color: var(--font-form-subtitle-color);
  font-size: var(--font-size-card);
}

.form-title .form-subtitles.added-course {
  color: var(--font-form-title-color);
  font-size: var(--font-size-filter);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 46, 46, 0.67);
  display: flex;
  justify-content: center;
  align-items: center;
}
